//Variables de bootstrap (no funciona, preguntar profesor)


$carousel-indicator-active-bg: red;
$carousel-indicator-width:    60px;
$carousel-indicator-height:      30px;
 

//Instalación de Bootstrap

@use '../node_modules/bootstrap/scss/bootstrap';





  
  


