//colores principales

$verde-claro: rgb(170, 185, 30);
$verde-hover: rgb(120, 135, 10);
$negro: rgb(17, 17, 17);
$blanco: rgb(255, 255, 255);
$gris-claro: rgb(245, 245, 245);
$seminegro: rgb(23, 23, 23);

.boton-verde{

background-color: $verde-claro;
color: $negro;
max-height: fit-content;


}

.boton-verde:hover{
    background-color: $verde-hover; 
    color: $blanco;
}

.txt-verde{
    color:$verde-claro;


}
.fondo-navbar{
    background-color: $negro;
    
}

.navbar-nav .nav-link{
    color: $blanco; 
}
  

.navbar-nav .nav-link:hover{
    color: $verde-hover; 
}


.carousel-indicators button{
    
$carousel-indicator-active-bg: red;
$carousel-indicator-width:    60px;
$carousel-indicator-height:      30px;

}
  
.carousel-indicators .active {
    background-color: $verde-claro;
}





.fondo-verde-custom{
    background-color: #aab91e;
    width: 100%;
    min-height: 10vh;
    padding: 20px;
    box-sizing: border-box;
}


.fondo-verde{
    background-color: #aab91e;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
}

.fondo-gris-claro{
    background-color:$gris-claro;
}

.fondo-seminegro{
    background-color: $seminegro;
}

.custom-container{
    background-image: url('../img/fotografia-mujer-cocinando-sola.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;

}

.fondo-newsletter{
    background-image: url('../img/fondo-newsletter.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
}


.grilla-about{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    max-width: 100%;
}
    
.div1 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
}

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 7;
}

.div4 {
    grid-row: span 7 / span 7;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 7;
}

.div7 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 5;
}

.color-verde-pastel{
background-color:  #E0E89C;

}
.color-amarillo-pastel{
    background-color:#F4EEBE; 
}


.grilla-impacto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
    
.div8{
    grid-column: span 2 / span 2;
    background-color:#F4EEBE;

}

.div9{
    grid-column-start: 3;
    background-color: white;
}

.div10{
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    background-color:  #E0E89C;
}

.div11{
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color:#F4EEBE; 
}

.div12{
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: white;
}
        
.boton-modal{
    background-color: $negro;
    color: $blanco;
    max-height: fit-content;
}





//Fuente Avenir next con font face
@font-face{
    font-family: 'Avenir Next'; //Heavy
    src: url('../fonts/fuente-avenir-next/AvenirNextLTPro-HeavyCn.otf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next'; //Demybold
    src: url('../fonts/fuente-avenir-next/AvenirNextLTPro-Demi.otf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir Next'; //Bold
    src: url('../fonts/fuente-avenir-next/AvenirNextLTPro-Bold.otf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Avenir Next'; //Medium
    src: url('../fonts/fuente-avenir-next/AvenirNextLTPro-MediumCn.otf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Avenir Next'; //Regular
    src: url('../fonts/fuente-avenir-next/AvenirNextLTPro-Regular.otf');
    font-style: italic;
  }